
@model Ticket.Models.Route
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<div class="row">
<div class="col-md-4">
    </div>



    <div class="col-md-4">

        <form class="form-group">


            <label style="color: #00BFFF">To</label>
            <input type="text" class="form-control" placeholder="Enter Detination" /><br />
            <label style="color: #00BFFF">From</label>
            <input type="text" class="form-control" placeholder="Enter From" />
            <br />

            <button type="button" class="btn btn-info">Search</button>

        </form>
    </div>
<div class="col-md-4">
    </div>

</div>
   
    





